*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vw;
    
}
.sidebar{
    background-color: rgb(205, 203, 203);
    
    width:20vw;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 23px;
    padding: 30px 0;
}
.main{
    /* background-color: aqua; */
    width: 80vw;
}
.infoContainer{
    /* background-color: red; */
    height: 18vw;
    width: 70vw;
    padding: 10px;
    border-radius: 14px;
    margin-top: auto;
    margin:90px auto;
    display: flex;
    justify-content: space-around;

}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devPic img{
    width: 263px;
   
   
}
.hello{
    font-size: 50px;
}
.name{
    font-size: 45px;
    font-weight: bold;
}

.about{
    font-size: 30px;
}
.button{
    margin-top: 30px;
}
.sidebar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.button button{
    padding: 4px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0 3px;
    cursor: pointer;
}

.button button:hover{
    background-color: white;
    color: dodgerblue;
}

.contactform h1{
    text-align: center;
    padding: 15px 0;
}

.contactform{
    padding: 0 100px;
    padding-top: 70px;
}

.contactform form div{
    padding: 10px 0;
    
    flex-direction: column;
}

#emailHelp{
    font-size: 10px;
    color: midnightblue;
    margin: -5px 0;
}

.contactform form div input{
    width : 30vw;
    border-radius: 5px;
    padding: 3px;
    margin: 6px 0 0 0;
    flex-direction: column;
    
}  

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 14px;
    margin-top: 10px;
}

 

.btn{
    padding: 10px 20px ;
    
    padding-bottom: 10px 10px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    /* box-shadow:0cqmin; */

}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.intro h2{
    margin: 12px;
}


.intro p{
    margin: 12px ;
  
    /* padding: -5px 0; */
}
.skillcontainer{
    padding: 12px;
   
}

.skill{
    width: 250px;
    height: 10px;
    background-color: red;
    border: 2px solid rgb(128, 0, 41);
    border-radius: 10px;
    font-size: 10px;
    color: black;
}
.skillItem{
    display: flex;
    align-items: center;
}

/* .t1{
    width: 200px;
    background-color: blue;
}

.t2{
    width: 300px;
    background-color: aqua;
}

.t3{
    width: 250px;
    background-color: chartreuse;
} */

@media (max-width: 1160px){
    *{
        background-color: grey;
    }
    .sidebar{
        transform: translate(-443px,0);
        position: absolute;
    }
}